<!DOCTYPE html>
<html>
<head>
    <title>Books!</title>
</head>
<body>
  <h2>Add a book</h2>
  <form action='add' method='post'>
      <label>Title</label>
      <input type='text' name='title'>
      <label>Author</label>
      <input type='text' name='author'>
      <input type='submit' value='Submit'>
  </form>

  <h2>All Books</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date Added</th>
      <th>Action</th>
    </tr>
    {%for book in books%}
    <tr>
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.date_added}}</td>
      <td>
        <a href='delete/{{book.id}}'>delete</a>
        <a href='show/{{book.id}}'>update</a>
      </td>
    </tr>
    {%endfor%}
  </table>








</body>
</html>
